<%= @user.name %> 様

あなたのツイートに <%= @sender.name %> からリプライが来ました。

▼リプライの内容
---------------------------------------------------
<p><%= @reply.content %></p>
---------------------------------------------------
