<%= @user.name %> 様

あなたのツイートが <%= @sender.name %> にファボられました。

▼ツイートの内容
---------------------------------------------------
<p><%= @reply.content %></p>
---------------------------------------------------
